h4{
    text-align: center;
    font-size: medium;
    font-family: sans-serif;
    margin:1rem 0;
}
.employee{
    min-width: 90%;
    max-height:40%;
    padding: 10px 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin:auto;
    margin-bottom: 2rem;
}

.employee .singleEmployee{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    max-width: 600px;
    padding:3px 1rem;
    border-radius: 3px;
    color: #928c8c;
    box-shadow: 0.2px 0.5px 0.5px rgb(158, 157, 157);
    border: 0.5px solid rgb(232, 232, 245);
    background-color: rgb(247, 251, 252);
    margin-bottom: 13px;
}

.employee .singleEmployee .empInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
 }

 .employee .singleEmployee .empInfo span{
    
    padding-top: 3px;

    }

.employee .singleEmployee .empInfo span h5{
font-size: 14px;
font-weight: 600;

}

.employee .singleEmployee .empInfo span p{
font-size: 12px;
font-weight: 400;
color: #928c8c;

}
 .employee .singleEmployee .empInfo span h5,p{
    margin: 0;
    padding: 0;
   
 }
.addEmployee{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
max-width: 400px;
border-radius: 5px;
box-shadow: 1px 0.5px 0.5px rgb(240, 207, 207);
border: 0.5px solid rgb(232, 232, 245);
background-color: rgb(237, 240, 245);
margin: 10px auto;
}

.input{
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;


}

.input label{
}

.input input{
    flex-wrap: 1;
    padding: 4px;

}

.employee .add{
    padding: 5px 10px;
    width:auto;
    margin: 10px auto;
    margin-left: 4px;
    color: rgb(75, 216, 101);
    background-color:  rgb(242, 247, 248);
    border:1px solid  rgb(75, 216, 101);
    transition: background-color 1s;
    
}
.employee a{
    outline: none;
    text-decoration: none;
}

.employee .add:hover{
    background-color: rgb(75, 216, 101);
    color: rgb(242, 247, 248);
    border:1px solid transparent;
}
/* button:disabled , button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
} */


.flexGrow {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}