  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;600;700&display=swap');
  
  body {
  font-family: 'Oswald', sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto",sans-serif;
}
h3 {
  font-size: 1rem;
  font-style: italic;
  color: rgb(32, 28, 28);
  text-align: center;
}

.app{
display: flex;
flex-direction: column;
min-height: 100vh;

}

main{
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.task{
  max-width: 90%;
  margin: auto;
  flex-grow: 1;
  width: 40%;
  height: 80%;
  max-width: 400px;
}

.admin ,.contact,.about ,.error,.container{
flex-grow: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
span label{
  padding-left: 10px;
}

.item{
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: rgb(212, 217, 218);
  border-radius: 2px;
  margin-bottom: 4px;

}
.nav {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(119, 119, 231);
}

ul {
  margin: 0;
  padding: 0;
  padding-right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
}

.logo {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: large;
  padding-left: 10px;
  color: antiquewhite;

}

.nav a ,button {
  padding-left: 10px;
  text-decoration: none;
  list-style-type: none;
  color: antiquewhite;
}

.nav  button{
  background-color: blue;
  margin-left: 5px;
}
footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(87, 87, 155);
  flex-grow: 0;
  padding: 20px;
  color: antiquewhite;
}

form{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  padding: 5px 10px;
  border: 1px solid rgb(217, 235, 222);
  border-radius: 3px;
}

form input {
  flex-grow: 1;
  padding: 8px;
  background-color:rgb(233, 240, 247);
  border-radius: 3px;
  border: none;
  margin-right: 3px;
}

button{
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

form button {
  background-color: rgb(79, 119, 68);
  color: rgb(213, 230, 245);
  padding: 5px 6px;

}

form button:hover {
 
  background-color: rgb(122, 230, 92);
  color: rgb(255, 255, 255);
  transition: ease-in;
}

form button[disabled] {
 
  background-color: rgb(187, 192, 185);
  color: rgb(248, 242, 242);
  transition: ease-in;
}

.removeItem{
  border: 1px solid rgb(235, 144, 144);
  padding: 3px 6px;
  color: brown;
  transition: ease-in-out;

}

.removeItem:hover{
  border: 1px solid  brown;
  color:white;
  background-color: rgb(233, 139, 139);

}